body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.active {
  color: olive;
}
.profile_avatar__container {
  display:inline-block;
  position:relative;
}
.profile_avatar {transition: all 0.5s;}
.profile_avatar:hover {
  cursor: pointer;
  opacity: .5;
  transition: all 0.5s;
}

.profile_avatar__container div {
  display: none;
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  box-sizing: border-box;
  left: 40px;
}
.profile_avatar__container div label {
  cursor: pointer;
  box-sizing: border-box;
  text-decoration: none;
  color: crimson;
  font-size: 18px;
}


.profile_avatar__container:hover div {
  display: block;
  transition: all ease 0.5s;
}